#projectItem {
    margin: 25px 0px;
    border-top: 1px solid rgb(64, 64, 64);
    padding: 8px 0px 1px 0px;
    content: 0px;

    
   
    background-color: rgb(29, 29, 29);

    /* background-color: rgb(107, 107, 107); */

}

#itemTitle {
    margin: 0px;
    border: 0px;
    padding: 0px;
    content: 0px;

    
}

#itemLink {
    /* color: #3d74e3; */

    /* text-decoration: none; */
}